extends layout

block content
  #grid
    nav(class='item')
      ul
        li Resources
        li Commemorate
        li Events
        li News
        li About
    #current(class='item')
      p Jerri!
    #news(class='item')
      p facebook
    .item
      ul 
        li oh yeah
        li oh yeah
    .item
      ul 
        li oh yeah
        li oh yeah
    .item
      p no no no
    .item
      p no no no
    .item
      ul 
        li oh yeah
        li oh yeah
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no
    .item
      p no no no

        
